@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
   margin: 0;
   padding: 0;

}

body {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
   color: black;
}

.container {
   background-color: black;

   min-width: 260px;
   height: 400px;
   border: 1px solid white;
   display: flex;
   flex-direction: column;
}

.container .display {
   flex: 1;
   display: flex;
   flex-direction: column;

   border-bottom: 1px solid black;
   color: white;
   font-family: 'Poppins', sans-serif;
   padding: 0 1rem;
}

.display .history {
   display: flex;
   align-items: center;
   font-size: 1.125rem;
   line-height: 1.5rem;
}

.display .current {
   display: flex;
   align-items: center;
   font-size: 1.5rem;
   line-height: 2rem;
}

.container .history {
   flex: 1;
   display: flex;
   justify-content: flex-end;
}

.container .current {
   flex: 1.5;
   display: flex;
   justify-content: flex-end;

}

.container .button-group {
   flex: 2.5;
   display: flex;
   flex-direction: column;
}

.button-group div {
   flex: 1;
   display: flex;
}

button {
   flex: 1;
   background-color: black;
   color: white;
   border: 1px solid white;
   border-left: none;
   border-bottom: none;
}

button:hover {
   background-color: grey;
}

button:active {
   background-color: ghostwhite;
}

.button-group div:last-child {
   display: flex;
}

.button-group .delete {
   border-right: 0px;
}

.button-group .operator {
   border-right: 0px;
}

.button-group .clear {
   color: rgb(300, 100, 100);
}

.button-group .delete {
   color: rgb(300, 100, 100);
}

.button-group .zero {
   flex: 1;
}

.button-group .period {
   flex: 1;
}

.button-group .equals {
   flex: 1;
}

.divide,
.times,
.minus,
.plus,
.equals,
.period {
   font-size: 1.25rem;
}